<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
    <div class="card card-header row">
      <% @friends.each do |friend| %>
        <strong>First Name: <%= friend.full_name %></strong>
        <strong> Email: <%= friend.email %></strong>
        <strong> Actions: 
          <%= link_to  "View Profile", "#", class: "btn btn-info" %>
          <% if current_user.not_already_friends?(friend.id) %>
            <%= link_to  "Follow Friend?", friends_path(friend: friend), class: "btn btn-sm btn-success", method: :post%>
          <% else %>
            You are Friends
          <% end %>
         </strong>
        
      <% end %>
    </div>
<% end %>